* {
    transition: all 300ms ease;
}


/* 
This is the background-color for the class "dark-theme".
*/
.dark-theme {
    background-color: black;
}

/* 
The "*" makes it that everything else associated with the "class" is of the properties that are defined within the 
*/
.dark-theme  * {
    color: rgb(97, 169, 97);
}